.weather {
  &__header {
    width: 100%;
    margin-bottom: 56px;

    align-items: center;
    justify-content: space-between;
  }

  &__navlink-container {
    border-radius: 8px;
    overflow: hidden;
  }

  &__select {
    position: relative;

    min-width: 256px;
  }
}
