@use '@/assets/css/mixins' as *;

.nav-link {
  display: inline-block;

  padding: 10px 16px;

  background-color: rgba(var(--color-white-rgb), 0.1);
  text-decoration: none;
  color: rgba(var(--color-white-rgb), 0.4);

  @include body();

  & + .nav-link {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  &--active {
    color: var(--color-white);
  }
}
