.text-color {
  &--white {
    color: var(--color-white) !important;
  }

  &--black {
    color: var(--color-black) !important;
  }

  &--secondary {
    color: var(--color-secondary) !important;
  }
}
