*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

// обязательно
html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  margin-right: calc(-1 * (100vw - 100%)) !important;
}

#root {
  height: 100dvh;

  background: var(--color-background);

  padding: 40px 40px 65px 40px;
}

// обязательно
img,
video {
  height: 100%;
  max-width: 100%;
}

svg {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}
